.profile__add-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  width: calc(100% - 38px);
  height: 50px;
  padding: 0;
  margin-top: 36px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.profile__add-btn::after {
  content: '';
  display: block;
  width: 22px;
  border: 1px solid white;
  margin: -1px auto  0;
  background-color: #fff;
  transform: rotate(90deg);
}

.profile__add-btn::before {
  content: '';
  display: block;
  width: 22px;
  border: 1px solid white;
  margin: 0 auto;
  background-color: #fff;
}

.profile__add-btn:hover {
  opacity: .4;
}

@media screen and (min-width: 425px) {
  .profile__add-btn {
    width: calc(60% - 38px);
  }
}

@media screen and (min-width: 750px) {
  .profile__add-btn {
    width: 150px;
    margin-left: 20px;
  }
}
