.modal-form_for_view {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
}

@media screen and (min-width: 560px) {
  .modal-form_for_view {
    min-width: 1px; /* костыль для положения картинки */
  }
}
