.edit-form__close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  padding: 0;
  transition: opacity .3s ease-in-out;
}

.edit-form__close:hover {
  opacity: .4;
}

.edit-form__close::after {
  content: '';
  width: 30px;
  display: block;
  border: 1px solid white;
  transform: rotate(45deg);
  margin: -2px auto  0;
  background-color: #fff;
}

.edit-form__close::before {
  content: '';
  width: 30px;
  display: block;
  border: 1px solid white;
  transform: rotate(-45deg);
  margin: -2px auto  0;
  background-color: #fff;
}

@media screen and (max-width: 749px) {
  .edit-form__close  {
    right: -4px; /* заменить */
  }
}
