.edit-form__title {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  padding: 0;
  margin: 25px auto 0;
}

@media screen and (min-width: 560px) {
  .edit-form__title {
    font-size: 24px;
    line-height: 29px;
    margin: 34px 0 0 0;
  }
}
