.profile-info {
  text-align: center;
  padding-top: 26px;
}

@media screen and (min-width: 425px) {
  .profile-info {
    text-align: left;
    max-width: 565px;
    min-width: max-content;
  }
}

@media screen and (min-width: 750px) {
  .profile-info {
    padding-left: 30px;
  }
}
