.card__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  margin: 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.card__like:hover {
  opacity: .4;
}
