.form__name-profile {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 74px 0 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-bottom: 10px;
}

@media screen and (min-width: 560px) {
  .form__name-profile {
    margin: 46px 0 28px;
  }
}
